############################################
# Ignore Everything
############################################
*

############################################
# Allow Required Files/Folders
############################################
!README.md
!pom.xml
!src/
!src/**

# Keep gitignore itself
!.gitignore

############################################
# Maven / Java
############################################
target/
*.log
*.class
*.jar

############################################
# Spring Boot
############################################
HELP.md

############################################
# Maven Wrapper
############################################
.mvn/wrapper/maven-wrapper.jar

############################################
# STS (Spring Tool Suite)
############################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

############################################
# IntelliJ IDEA
############################################
.idea/
*.iws
*.iml
*.ipr

############################################
# NetBeans
############################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

############################################
# VS Code
############################################
.vscode/